## Decision Trees and Random Forest Classifier with PySpark

### Importing Requirements

In [40]:
from pyspark.sql import SQLContext
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.classification import RandomForestClassifier

from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.types import *
import pandas as pd

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:250% !important; }</style>"))

In [4]:
sqlContext = SQLContext(sc)

schema = StructType([ \
    StructField("ID", StringType(), True), \
    StructField("Gender", StringType(), True), \
    StructField("SeniorCitizen", BooleanType(), True), \
    StructField("Partner", StringType(), True), \
    StructField("Dependents", StringType(), True), \
    StructField("Tenure", StringType(), True), \
    StructField("PhoneService", StringType(), True), \
    StructField("MultipleLines", BooleanType(), True), \
    StructField("InternetService", StringType(), True), \
    StructField("OnlineSecurity", BooleanType(), True), \
    StructField("OnlineBackup", BooleanType(), True), \
    StructField("DeviceProtection", BooleanType(), True), \
    StructField("TechSupport", BooleanType(), True), \
    StructField("StreamingTV", BooleanType(), True), \
    StructField("StreamingMovies", BooleanType(), True), \
    StructField("Contract", StringType(), True), \
    StructField("PaperlessBilling", StringType(), True), \
    StructField("PaymentMethod", StringType(), True), \
    StructField("MonthlyCharges", DoubleType(),True), \
    StructField("TotalCharges", DoubleType(), True), \
    StructField("Churn", StringType(), True)])

churn_data = spark.read.csv("Telco_Churn.csv", schema=schema)

In [5]:
df=pd.read_csv('Telco_Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
df['SeniorCitizen']=df['SeniorCitizen'].replace({0:False, 1:True})
df['Partner']=df['Partner'].replace({'No':False, 'Yes':True})
df['Dependents']=df['Dependents'].replace({'No':False, 'Yes':True})
df['PhoneService']=df['PhoneService'].replace({'No':False, 'Yes':True})
df['MultipleLines']=df['MultipleLines'].replace({'No':False, 'Yes':True,'No phone service':False})
df['OnlineSecurity']=df['OnlineSecurity'].replace({'No':False, 'Yes':True,'No internet service':False})
df['OnlineBackup']=df['OnlineBackup'].replace({'No':False, 'Yes':True,'No internet service':False})
df['DeviceProtection']=df['DeviceProtection'].replace({'No':False, 'Yes':True,'No internet service':False})
df['TechSupport']=df['TechSupport'].replace({'No':False, 'Yes':True,'No internet service':False})
df['StreamingTV']=df['StreamingTV'].replace({'No':False, 'Yes':True,'No internet service':False})
df['StreamingMovies']=df['StreamingMovies'].replace({'No':False, 'Yes':True,'No internet service':False})
df['PaperlessBilling']=df['PaperlessBilling'].replace({'No':False, 'Yes':True})
 
#df['Churn']=df['Churn'].replace({'No':False, 'Yes':True})
#df=df.drop(labels=None, axis=0, index=[488,752,751,750], columns=None, level=None, inplace=False, errors='raise')

In [7]:
df['TotalCharges'] = df['TotalCharges'].str.strip()
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

In [8]:
df = df.dropna(how="any")
df.shape

(7032, 21)

In [9]:
pysparkdf = spark.createDataFrame(df,schema=schema)

In [10]:
pysparkdf.show()

+----------+------+-------------+-------+----------+------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
|        ID|Gender|SeniorCitizen|Partner|Dependents|Tenure|PhoneService|MultipleLines|InternetService|OnlineSecurity|OnlineBackup|DeviceProtection|TechSupport|StreamingTV|StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|MonthlyCharges|TotalCharges|Churn|
+----------+------+-------------+-------+----------+------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
|7590-VHVEG|Female|        false|   true|     false|     1|       false|        false|            DSL|         false|        true|           false|      false|      false|          false|Month-to-month|            true|    Electronic check|         29.85|       29.85|   No|
|5575-GNVDE|  Male|        false|  false|     false|    34|        true|        false|            DSL|          true|       false|            true|      false|      false|          false|      One year|           false|        Mailed check|         56.95|      1889.5|   No|
|3668-QPYBK|  Male|        false|  false|     false|     2|        true|        false|            DSL|          true|        true|           false|      false|      false|          false|Month-to-month|            true|        Mailed check|         53.85|      108.15|  Yes|
|7795-CFOCW|  Male|        false|  false|     false|    45|       false|        false|            DSL|          true|       false|            true|       true|      false|          false|      One year|           false|Bank transfer (au...|          42.3|     1840.75|   No|
|9237-HQITU|Female|        false|  false|     false|     2|        true|        false|    Fiber optic|         false|       false|           false|      false|      false|          false|Month-to-month|            true|    Electronic check|          70.7|      151.65|  Yes|
|9305-CDSKC|Female|        false|  false|     false|     8|        true|         true|    Fiber optic|         false|       false|            true|      false|       true|           true|Month-to-month|            true|    Electronic check|         99.65|       820.5|  Yes|
|1452-KIOVK|  Male|        false|  false|      true|    22|        true|         true|    Fiber optic|         false|        true|           false|      false|       true|          false|Month-to-month|            true|Credit card (auto...|          89.1|      1949.4|   No|
|6713-OKOMC|Female|        false|  false|     false|    10|       false|        false|            DSL|          true|       false|           false|      false|      false|          false|Month-to-month|           false|        Mailed check|         29.75|       301.9|   No|
|7892-POOKP|Female|        false|   true|     false|    28|        true|         true|    Fiber optic|         false|       false|            true|       true|       true|           true|Month-to-month|            true|    Electronic check|         104.8|     3046.05|  Yes|
|6388-TABGU|  Male|        false|  false|      true|    62|        true|        false|            DSL|          true|        true|           false|      false|      false|          false|      One year|           false|Bank transfer (au...|         56.15|     3487.95|   No|
|9763-GRSKD|  Male|        false|   true|      true|    13|        true|        false|            DSL|          true|       false|           false|      false|      false|          false|Month-to-month|            true|        Mailed check|         49.95|      587.45|   No|
|7469-LKBCI|  Male|        false|  false|     false|    16|        true|        false|             No|         false|       false|           false|      false|      false|          false|      Two year|           false|Credit card (auto...|         18.95|       326.8|   No|
|8091-TTVAX|  Male|        false|   true|     false|    58|        true|         true|    Fiber optic|         false|       false|            true|      false|       true|           true|      One year|           false|Credit card (auto...|        100.35|      5681.1|   No|
|0280-XJGEX|  Male|        false|  false|     false|    49|        true|         true|    Fiber optic|         false|        true|            true|      false|       true|           true|Month-to-month|            true|Bank transfer (au...|         103.7|      5036.3|  Yes|
|5129-JLPIS|  Male|        false|  false|     false|    25|        true|        false|    Fiber optic|          true|       false|            true|       true|       true|           true|Month-to-month|            true|    Electronic check|         105.5|     2686.05|   No|
|3655-SNQYZ|Female|        false|   true|      true|    69|        true|         true|    Fiber optic|          true|        true|            true|       true|       true|           true|      Two year|           false|Credit card (auto...|        113.25|     7895.15|   No|
|8191-XWSZG|Female|        false|  false|     false|    52|        true|        false|             No|         false|       false|           false|      false|      false|          false|      One year|           false|        Mailed check|         20.65|     1022.95|   No|
|9959-WOFKT|  Male|        false|  false|      true|    71|        true|         true|    Fiber optic|          true|       false|            true|      false|       true|           true|      Two year|           false|Bank transfer (au...|         106.7|     7382.25|   No|
|4190-MFLUW|Female|        false|   true|      true|    10|        true|        false|            DSL|         false|       false|            true|       true|      false|          false|Month-to-month|           false|Credit card (auto...|          55.2|      528.35|  Yes|
|4183-MYFRB|Female|        false|  false|     false|    21|        true|        false|    Fiber optic|         false|        true|            true|      false|      false|           true|Month-to-month|            true|    Electronic check|         90.05|      1862.9|   No|
+----------+------+-------------+-------+----------+------+------------+-------------+---------------+--------------+------------+----------------+-----------+-----------+---------------+--------------+----------------+--------------------+--------------+------------+-----+
only showing top 20 rows

In [11]:
reduced_numeric_cols=['MonthlyCharges']

In [12]:
label_indexer = StringIndexer(inputCol = 'Churn', outputCol = 'label')
InternetService_indexer = StringIndexer(inputCol = 'InternetService', outputCol = 'InternetService_indexed')
PhoneService_indexer = StringIndexer(inputCol = 'PhoneService', outputCol = 'PhoneService_indexed')

assembler = VectorAssembler(
    inputCols=[
        "TotalCharges",
    ] + reduced_numeric_cols,
    outputCol="features",
)
#output = featureassembler.transform(pysparkdf)

In [13]:
classifier = DecisionTreeClassifier(labelCol = 'label', featuresCol = 'features')
pipeline = Pipeline(stages=[label_indexer, InternetService_indexer,PhoneService_indexer, assembler, classifier])
(train, test) = pysparkdf.randomSplit([0.9, 0.1])
model = pipeline.fit(train)

### Model Evaluation

In [41]:
predictions = model.transform(test)
evaluator = BinaryClassificationEvaluator()
auroc = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderROC"})
aupr = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderPR"})
"The AUROC is %s and the AUPR is %s." % (auroc, aupr)

'The AUROC is 0.8084101633393829 and the AUPR is 0.5677357125090613.'

## Random Forest Classifier

In [48]:
classifier = RandomForestClassifier(impurity="gini",featureSubsetStrategy="auto", numTrees=RF_NUM_TREES, maxDepth = 30, labelCol = 'label', featuresCol = 'features')
pipeline = Pipeline(stages=[label_indexer, InternetService_indexer,PhoneService_indexer, assembler, classifier])
(train, test) = pysparkdf.randomSplit([0.9, 0.1])
model = pipeline.fit(train)

In [49]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

predictions = model.transform(test)
evaluator = BinaryClassificationEvaluator()
auroc = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderROC"})
aupr = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderPR"})
"The AUROC is %s and the AUPR is %s." % (auroc, aupr)

'The AUROC is 0.7925175796875658 and the AUPR is 0.5853346022755764.'

In [50]:
(predictions.select("label","prediction")).show(5)

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|       0.0|
|  0.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
+-----+----------+
only showing top 5 rows

## Random Forest Regression

In [188]:
df=pd.read_csv("kc_house_data.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [189]:
df=df.drop(['date','id','yr_renovated','lat','long','zipcode'], axis=1)
feature_list = []
for col in df.columns:
    if col == 'label':
        continue
    else:
        feature_list.append(col)
feature_list[0]='label'
df.columns=feature_list
df.head()

,label,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1800,7503

In [190]:
schema = StructType([ \
    StructField("label", DoubleType(), True), \
    StructField("bedrooms", IntegerType(), True), \
    StructField("bathrooms", DoubleType(), True), \
    StructField("sqft_living", IntegerType(), True), \
    StructField("sqft_lot", IntegerType(), True), \
    StructField("floors", DoubleType(), True), \
    StructField("waterfront", IntegerType(), True), \
    StructField("view", IntegerType(),True), \
    StructField("condition", IntegerType(), True), \
    StructField("grade", IntegerType(), True), \
    StructField("sqft_above", IntegerType(),True), \
    StructField("sqft_basement", IntegerType(), True), \
    StructField("yr_built", IntegerType(), True), \
    StructField("sqft_living15", IntegerType(), True), \
    StructField("sqft_lot15", IntegerType(), True)])

In [191]:
home_pysparkdf = spark.createDataFrame(df,schema=schema)
home_pysparkdf.show()

+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+-------------+----------+
|    label|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|sqft_living15|sqft_lot15|
+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+-------------+----------+
| 221900.0|       3|      1.0|       1180|    5650|   1.0|         0|   0|        3|    7|      1180|            0|    1955|         1340|      5650|
| 538000.0|       3|     2.25|       2570|    7242|   2.0|         0|   0|        3|    7|      2170|          400|    1951|         1690|      7639|
| 180000.0|       2|      1.0|        770|   10000|   1.0|         0|   0|        3|    6|       770|            0|    1933|         2720|      8062|
| 604000.0|       4|      3.0|       1960|    5000|   1.0|         0|   0|        5|    7|      1050|          910|    1965|         1360|      5000|
| 510000.0|       3|      2.0|       1680|    8080|   1.0|         0|   0|        3|    8|      1680|            0|    1987|         1800|      7503|
|1225000.0|       4|      4.5|       5420|  101930|   1.0|         0|   0|        3|   11|      3890|         1530|    2001|         4760|    101930|
| 257500.0|       3|     2.25|       1715|    6819|   2.0|         0|   0|        3|    7|      1715|            0|    1995|         2238|      6819|
| 291850.0|       3|      1.5|       1060|    9711|   1.0|         0|   0|        3|    7|      1060|            0|    1963|         1650|      9711|
| 229500.0|       3|      1.0|       1780|    7470|   1.0|         0|   0|        3|    7|      1050|          730|    1960|         1780|      8113|
| 323000.0|       3|      2.5|       1890|    6560|   2.0|         0|   0|        3|    7|      1890|            0|    2003|         2390|      7570|
| 662500.0|       3|      2.5|       3560|    9796|   1.0|         0|   0|        3|    8|      1860|         1700|    1965|         2210|      8925|
| 468000.0|       2|      1.0|       1160|    6000|   1.0|         0|   0|        4|    7|       860|          300|    1942|         1330|      6000|
| 310000.0|       3|      1.0|       1430|   19901|   1.5|         0|   0|        4|    7|      1430|            0|    1927|         1780|     12697|
| 400000.0|       3|     1.75|       1370|    9680|   1.0|         0|   0|        4|    7|      1370|            0|    1977|         1370|     10208|
| 530000.0|       5|      2.0|       1810|    4850|   1.5|         0|   0|        3|    7|      1810|            0|    1900|         1360|      4850|
| 650000.0|       4|      3.0|       2950|    5000|   2.0|         0|   3|        3|    9|      1980|          970|    1979|         2140|      4000|
| 395000.0|       3|      2.0|       1890|   14040|   2.0|         0|   0|        3|    7|      1890|            0|    1994|         1890|     14018|
| 485000.0|       4|      1.0|       1600|    4300|   1.5|         0|   0|        4|    7|      1600|            0|    1916|         1610|      4300|
| 189000.0|       2|      1.0|       1200|    9850|   1.0|         0|   0|        4|    7|      1200|            0|    1921|         1060|      5095|
| 230000.0|       3|      1.0|       1250|    9774|   1.0|         0|   0|        4|    7|      1250|            0|    1969|         1280|      8850|
+---------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+-------------+----------+
only showing top 20 rows

In [192]:
feature_list = []
for col in df.columns:
    if col == 'label':
        continue
    else:
        feature_list.append(col)

assembler = VectorAssembler(inputCols=feature_list, outputCol="features")

In [193]:
feature_list

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'sqft_living15',
 'sqft_lot15']

In [194]:
from pyspark.ml.regression import RandomForestRegressor

rf = RandomForestRegressor(labelCol="label", featuresCol="features")

In [195]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[assembler, rf])

In [196]:
from pyspark.ml.tuning import ParamGridBuilder
import numpy as np

paramGrid = ParamGridBuilder() \
    .addGrid(rf.numTrees, [int(x) for x in np.linspace(start = 10, stop = 50, num = 3)]) \
    .addGrid(rf.maxDepth, [int(x) for x in np.linspace(start = 5, stop = 25, num = 3)]) \
    .build()

In [197]:
from pyspark.ml.tuning import CrossValidator
from pyspark.ml.evaluation import RegressionEvaluator

crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=RegressionEvaluator(),
                          numFolds=3)

In [198]:
(trainingData, testData) = home_pysparkdf.randomSplit([0.8, 0.2])

In [199]:
cvModel = crossval.fit(trainingData)

In [200]:
predictions = cvModel.transform(testData)

In [202]:
predictions.show()

+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+-------------+----------+--------------------+------------------+
|   label|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|grade|sqft_above|sqft_basement|yr_built|sqft_living15|sqft_lot15|            features|        prediction|
+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+-------------+----------+--------------------+------------------+
| 82000.0|       3|      1.0|        860|   10426|   1.0|         0|   0|        3|    6|       860|            0|    1954|         1140|     11250|[3.0,1.0,860.0,10...|223944.68739401456|
| 82500.0|       2|      1.0|        520|   22334|   1.0|         0|   0|        2|    5|       520|            0|    1951|         1572|     10570|[2.0,1.0,520.0,22...|225773.94548629984|
| 84000.0|       2|      1.0|        700|   20130|   1.0|         0|   0|        3|    6|       700|            0|    1949|         1490|     18630|[2.0,1.0,700.0,20...| 248386.9032389993|
| 85000.0|       2|      1.0|        830|    9000|   1.0|         0|   0|        3|    6|       830|            0|    1939|         1160|      7680|[2.0,1.0,830.0,90...|218190.19916027394|
|109000.0|       2|      0.5|        580|    6900|   1.0|         0|   0|        3|    5|       580|            0|    1941|         1570|      5040|[2.0,0.5,580.0,69...|311062.67596988095|
|110000.0|       2|      1.0|        760|    4746|   1.0|         0|   0|        3|    5|       760|            0|    1930|         1360|      7810|[2.0,1.0,760.0,47...|236392.61381989185|
|110000.0|       2|      1.0|        790|    8250|   1.0|         0|   0|        3|    6|       790|            0|    1947|          900|      8250|[2.0,1.0,790.0,82...| 229604.8691695559|
|120000.0|       3|      1.0|       1150|    8924|   1.0|         0|   0|        3|    6|      1150|            0|    1943|         1492|      8924|[3.0,1.0,1150.0,8...|236638.47296111472|
|121800.0|       2|      1.0|        940|    8384|   1.0|         0|   0|        3|    5|       940|            0|    1947|         1290|      8384|[2.0,1.0,940.0,83...|212019.13658783556|
|123000.0|       2|      1.0|       1050|    6600|   1.5|         0|   0|        3|    6|      1050|            0|    1964|         1330|      6600|[2.0,1.0,1050.0,6...| 246788.0854459604|
|125000.0|       3|      1.0|        920|    7276|   1.0|         0|   0|        4|    6|       920|            0|    1961|         1120|      7276|[3.0,1.0,920.0,72...| 224155.6553038709|
|130000.0|       2|      1.0|        790|    7500|   1.0|         0|   0|        3|    7|       790|            0|    1951|         1560|      7794|[2.0,1.0,790.0,75...| 308363.1946911515|
|134000.0|       3|      1.0|       1270|    8508|   1.0|         0|   0|        4|    6|       650|          620|    1942|         1200|      9415|[3.0,1.0,1270.0,8...| 271526.0525770108|
|135000.0|       2|      1.0|       1220|    7250|   1.0|         0|   0|        4|    6|      1220|            0|    1914|         1350|     20250|[2.0,1.0,1220.0,7...| 270287.7996234487|
|139000.0|       3|      1.0|       1100|   17334|   1.0|         0|   0|        3|    7|      1100|            0|    1978|         1530|     18694|[3.0,1.0,1100.0,1...| 287153.6410052998|
|139500.0|       2|      1.5|       1230|    1561|   2.0|         0|   0|        3|    7|      1230|            0|    1983|         1660|      2243|[2.0,1.5,1230.0,1...|347402.72128752375|
|144975.0|       2|      1.0|        900|    7500|   1.0|         0|   0|        3|    5|       900|            0|    1940|         1350|      7500|[2.0,1.0,900.0,75...|244239.89346257996|
|145000.0|       3|      1.0|       1010|    5490|   1.0|         0|   0|        3|    6|      1010|            0|    1954|         1740|     10658|[3.0,1.0,1010.0,5...| 257351.0263983788|
|145000.0|       3|      1.0|       1010|   11880|   1.0|         0|   0|        3|    7|      1010|            0|    1960|         1150|      9435|[3.0,1.0,1010.0,1...|250848.83401048987|
|147500.0|       3|      1.0|       1530|    8498|   1.0|         0|   0|        3|    7|      1530|            0|    1959|         1380|      8498|[3.0,1.0,1530.0,8...|286353.50008279335|
+--------+--------+---------+-----------+--------+------+----------+----+---------+-----+----------+-------------+--------+-------------+----------+--------------------+------------------+
only showing top 20 rows

In [206]:
import matplotlib.pyplot as plt

evaluator = RegressionEvaluator(labelCol="label", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
rfPred = cvModel.transform(home_pysparkdf)
rfResult = rfPred.toPandas()
plt.plot(rfResult.label, rfResult.prediction, 'bo')
plt.xlabel('Price')
plt.ylabel('Prediction')
plt.suptitle("Model Performance RMSE: %f" % rmse)
plt.show()

Py4JJavaError: An error occurred while calling o51468.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 3610.0 failed 1 times, most recent failure: Lost task 1.0 in stage 3610.0 (TID 6781, 192.168.0.100, executor driver): TaskResultLost (result lost from block manager)
Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:1989)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:1977)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:1976)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1976)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:956)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2155)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2144)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:758)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2116)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2137)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2156)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2181)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1004)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:388)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1003)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:365)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3310)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3472)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$4(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:87)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3468)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3307)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)